{% extends "base.html" %}

{% block title %}
    <title>修改密码</title>
{% endblock %}

{% block page %}
<main role="main" class="main container">
<div class="py-5 mt-5 text-center">
  <h2 class="mt-5">请输入您的新密码</h2>
</div>
<div class="row">
    <h1 class="text-center">{{ message }}</h1>
</div>
<div class="row mt-4">
  <div class="col-md-12 order-md-1">
    <form action="" method="post">
      {% csrf_token %}
      <div class="form-group row" >
        <label for="new-pwd1" class="col-3 col-form-label" style="text-align: right">新密码：</label>
        <div class="col-6">
          <input type="password" class="form-control" id="new-pwd1" name="new_pwd_1">
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label for="new-pwd2" class="col-3 col-form-label" style="text-align: right">确认新密码：</label>
        <div class="col-6">
          <input type="password" class="form-control" id="new-pwd2" name="new_pwd_2">
        </div>
      </div>
      <input type="submit" class="btn btn-danger text-center mt-5"
             style="width: 30%; margin: 0px auto;display: table;" value="确认">
    </form>
  </div>
</div>
</main>
{% endblock %}
