{% extends "base.html" %}
{% include "../Software/GlobalVariable.py" %}
{% load highlight %}
{% load globalVarConvertor %}

{% block title %}
<title> {% if query %}{{ query }}&nbsp;的搜索结果{% else %}项目搜{% endif %} - 项目搜索页</title>
{% endblock %}

{% block addCSS %}
<link rel="stylesheet" href="../../static/css/search.css">
<style>
   .layui-body.mt-5{overflow:auto;}
    .project-container{
        min-height: 900px;
        border: 1px solid #eee;
        margin:auto;
        width:1200px;
	overflow:auto;
        box-sizing: border-box;
	margin-top:60px;
    }
    .project-header{
        padding: 20px;
        border-bottom: 1px solid #e5e9ef;
        font-size: 18px;
        color: #222;
        vertical-align: middle;
        padding-bottom:10px;
        box-sizing: border-box;
    }
    .project-count{
        border:1px solid #ddd;
        border-radius: 3px;
        color: #777;
        font-size: 12px;
        line-height: 18px;
        height: 20px;
        margin-left: 11px;
        padding: 0 5px;
        display: inline-block;
        position: relative;
        box-sizing: border-box;
    }
    .project-section{
        width: 100%;
    	height:92%;
	float:left;
	position:relative;
    }
    .project-list{
        padding: 0 0 20px 0;
        float: left;
        display: none;
        width:100%;
	overflow:auto;	
    }
    .project-list.active{
        display: block;
        
    }
    .list-item{
        border: 1px solid rgba(0,0,0,.125);
        display: inline-block;
        border-radius: 4px;
        margin: 19px;
        padding: 20px;
        float:left;
	height:300px;
        width:30%;
        box-sizing: border-box;
        box-shadow: 0 1px 1px 1px rgba(121, 146, 185, .54);
	position:relative;
    	clear:top;    
    }
    a.title{
        text-decoration: none;
        display: inline-block;
        font-size: 22px;
        margin-bottom: 10px; 
        box-sizing: border-box;
        cursor:pointer;
	overflow:hidden;
	text-overflow:ellipsis;
	width:100%; 
        white-space: nowrap;
    }
    a.title:link,a.title:visited{
        color:black;    
    }
    a.title:hover{
        color:blue;
        text-decoration: none;
    }

    .intro{
        color: black;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        font-size:16px;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        text-overflow: ellipsis;
        margin-bottom: 10px;
        box-sizing: border-box;
    }
    .detailed-intro{
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

        font-size: 16px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
        word-wrap: break-word;
        margin-bottom: 20px;
        box-sizing: border-box;
    }
    .label-row{
        display: block;
        position: absolute;
        bottom: 20px;
	overflow:auto;
	max-height:100px;
    }
    .label{
        height: 38px;
        text-align: center;
        font-size: 12px;
        vertical-align: middle;
        border:1px solid black;
        border-radius: 4px;
        padding: 10px;
        margin: 5px;
        float: left;
        box-sizing: border-box;
        cursor:pointer; 
    }
    .label.area{
        background: #007bff;
        color: white;
        border-color: #007bff;
    }
    .label.area:hover{
        background: #0069d9;
    }
    .label.status{
        background:#ffc107;
        color: black;
        border-color: #ffc107;
    }
    .label.status:hover{
        background: #e0a800;
    }
    .page-item{
        display:inline-block;
        font-size: 14px;
        text-align: center;
        border-radius: 4px;
        border:1px solid #eee;
        color: #666;
        padding:0 14px;
        line-height:30px;
        cursor:pointer; 
    }
    .be-pager{
    	margin:auto;
    	text-align:center;
    	float:left;
    	width:99%; 
    }
    .page-count{
    display:inline-block;
    height:32px;
    line-height:30px;
    margin-left:30px;   
    color:#99a2aa;
    font-size:12px; 
    }
    .page-elevator{
    display:inline-block;
    height:32px;
    line-height:30px;
    color:#99a2aa;
    font-size:12px;     
    }
    .current-page{
    display:inline-block;
    height:32px;
    line-height:30px;
    margin:0 20px;  
    color:#99a2aa;
    font-size:12px;     
    }
    .page-num{
    border-radius:4px;
    margin:0 8px;
    width:50px;
    line-height:28px;
    height:28px;
    padding:0 10px;
    border:1px solid #ccd0d7;
    }	
</style>
{% endblock %}

{% block page %}

  {% if query and query|length > 1%}
    <div class="project-container">
    <div class="project-header">
       <span>关于“{{ query }}”的搜索结果</span>
       <span class="project-count">{{paginator.count}}</span>
    </div>
    <div class="project-section">
      <div class="project-list active">
    {% for result in page.object_list %}
	<div class="list-item">
		<a href="/project_info/{{result.object.pid}}"  class="title">{{result.object.name}}</a>
		<div class="intro">简介/标签:{% highlight result.object.introduction with query%}</div>
		<div class="detailed-intro">{% highlight result.object.detailed_introduction with query%}</div>
		<div class="label-row">
		<div class="label status">
			<span>{{result.object.status|status2str}}</span>
		</div>
		{%for a in result.object.area|area2list%}
			<div class="label area">
				<span>{{a}}</span>
			</div>
		{%endfor%}
		</div>
    </div>
    {% empty %}
    <p>很抱歉，未能找到您需要的项目。</p>
    {% endfor %}
    </div>
    <div class="be-pager">
    	<li class='page-item'>上一页</li>
	<span class='current-page'></span>
	<li class='page-item'>下一页</li>
	<span class='page-count'>共{{ paginator.num_pages }}页</span>
	<span class='page-elevator'>,跳至<input class='page-num' type='text'>页</span>
    </div>
  </div>
  </div>
  {% else %}
<main role="main" class="main container">
  <div class="py-5 mt-5 text-center">
    <h2 class="mt-5">项  目  搜</h2>
{% if query and query|length <= 1 %}
<h4 class="mt-3">搜索关键词长度必须为2个字符以上！</h4>
{% endif %}
  </div>
  <div class="row mt-4">
    <div class="col-md-12 order-md-1">
      <form id="inner-search" action="#" role="search" method="get" class="form-inline justify-content-center">
        {% csrf_token %}
        <input style="width: 61.8%" class="form-control ml-5 mr-4 mt-sm-0"
               type="search" name="q" placeholder="搜索项目" aria-label="Search"
               oninvalid="setCustomValidity('搜索关键词必填！')" required>
        <button type="submit" class="btn btn-outline-success ">搜索</button>
      </form>
    </div>
  </div>
</main>
  {% endif %}

{% endblock %}

{% block addJS %}
<script>
{% if query %}
  $('#header-search-box').attr('value', "{{ query }}");
  $('span.highlighted').attr('style', "color:red");
{% endif %}
let count = {{ paginator.num_pages }};
let current_page = 1;
if(window.location.search.indexOf("page")!=-1)
	current_page = parseInt(window.location.search.slice(window.location.search.indexOf("page")+5));
$(".current-page").text("第"+current_page+"页");
$(".page-item").click(function(event){
	if (this.textContent=="上一页"){
		let next_page = current_page-1<=0?1:current_page-1;
		window.location.search = "?q={{query}}&page="+next_page;
	}
	else{
		let next_page = current_page+1>count?count:current_page+1;
		window.location.search = "?q={{query}}&page="+next_page;
	}
}
)
$(".page-num").keyup(function(event){
	if(event.keyCode === 13) {
		let page = parseInt($(".page-num").val());
		if(!isNaN(page)){
		$(".page-num").val("");
			if(page>=count) page=count;
			else if (page<=0)page=1;
		window.location.search = "?q={{query}}&page="+page;
			
		}		
	}
}
)
</script>
{% endblock %}
